.title {
  color: var(--green);
}

.status {
  font-size: 1rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

.alert {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}

.icon {
  width: 10px;
  height: 10px;
  color: black;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: yellow;
  }
}

/* .icon:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: yellow;
} */
